---
const currentYear = new Date().getFullYear();
import Socials from "../components/Socials.astro";
---

<footer>
    <Socials />
    <p>
        Designed and coded by <a href="/" rel="noopener noreferrer"
            >Edward Byrne</a
        >. Built with <a
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferrer">Astro</a
        > and hosted on <a
            href="https://www.netlify.com/"
            target="_blank"
            rel="noopener noreferrer">Netlify</a
        >.
    </p>
    <p>Copyright © {currentYear}</p>
</footer>

<style lang="scss">
    @use "../styles/_variables.scss";

    footer {
        color: variables.$color-primary;
        font-size: 1rem;
        max-width: 400px;
        padding: 4rem 0 5rem;

        @media (max-width: 950px) {
            padding-top: 4rem;
        }
    }

    a {
        color: variables.$color-accent;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: variables.$color-accent;;
        }
    }
</style>
