<div class="wrappy">
    <p>HTML</p>
    <p>CSS</p>
    <p>JavaScript</p>
    <p>React</p>
    <p>Astro</p>
    <p>Framer Motion</p>
    <p>SASS</p>
</div>

<style>
    .wrappy {
        display: flex;
        gap: 1rem;
    }
    p {
        padding-bottom: 0.5rem;
        color: rgb(100, 255, 218);
        border-bottom: 1px solid rgb(100, 255, 218);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
