---
import { Icon } from "astro-icon";
---

<div class="socials-wrapper">
    <a href="" aria-label="GitHub">
        <Icon name="mdi:github" />
    </a>
    <a href="" aria-label="Linkedin">
        <Icon name="ri:linkedin-fill" />
    </a>
    <a href="" aria-label="Instagram">
        <Icon name="mdi:instagram" />
    </a>
    <a href="" aria-label="Twitter">
        <Icon name="mdi:twitter" />
    </a>
</div>

<style lang="scss">
    .socials-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: fixed;
        bottom: 100px;
        left: 40px;
        width: 50px;
        @media (max-width: 1200px) {
            position: static;
            flex-direction: row;
        }
    }

    [astro-icon] {
        color: var(--color-accent);
        height: 25px;
        transition: 0.2s ease-out;
        &:hover {
            transform: translateY(-0.2rem);
        }
        @media (max-width: 1200px) {
            color: var(--color-secondary);
            height: 25px;
        }
    }
</style>
