---
import Footer from "../components/Footer.astro";
import Accessibility from "../components/Accessibility.astro";
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<Accessibility />
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style lang="scss" is:global>
	* {
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--color-background);
		background-size: 224px;

		--color-background: black;
		--color-primary: white;
		--color-secondary: #808080;
		--color-accent: #64fff9;
	}

	html[data-theme="light"] {
		background: var(--color-background);
		--color-background: white;
		--color-primary: black;
		--color-secondary: #808080;
		--color-accent: #fa64ff;
	}

	body {
		margin: 0;
		display: grid;
		place-items: center;
		font-size: 18px;
		color: var(--color-primary);
	}

	.container {
		padding: 0 2.5rem;
	}

	main {
		width: clamp(100px, 100vw, 1000px);
	}
</style>
