---
import Footer from "../components/Footer.astro";
import Accessibility from "../components/Accessibility.astro";
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<Accessibility />
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style lang="scss" is:global>
	* {
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--color-background);
		background-size: 224px;

		--color-background: #e6e6e6;
		--color-primary: black;
		--color-secondary: #676767;
		--color-accent: #001aff;

		--smallest: 0.875rem;
		--small: 1rem;
		--medium: 1.125rem;
		--large: 1.25rem;
	}

	.dark {
		--color-background: black;
		--color-primary: white;
		--color-secondary: #808080;
		--color-accent: #64fff9;
	}

	.accessibility-fontsize {
		--smallest: 1.3rem;
		--small: 1.6rem;
		--medium: 1.7rem;
		--large: 1.87rem;
	}

	body {
		margin: 0;
		display: grid;
		place-items: center;
		color: var(--color-primary);
	}
	
	h3 {
		font-size: var(--medium);
	}

	.container {
		padding: 0 2.5rem;
	}

	main {
		max-width: 100%;
	}
</style>
